<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootelasticsearch.mapper.FileTableMapper">

    <resultMap type="com.example.springbootelasticsearch.entity.FileTable" id="FileTableMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
        <result property="fileType" column="file_type" jdbcType="VARCHAR"/>
        <result property="fileSize" column="file_size" jdbcType="INTEGER"/>
        <result property="filePath" column="file_path" />
        <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="FileTableMap">
        select id,
               file_name,
               file_type,
               file_size,
               file_path,
               is_deleted
        from file_table
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="FileTableMap">
        select
        id, file_name, file_type, file_size, file_path, is_deleted
        from file_table
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="fileType != null and fileType != ''">
                and file_type = #{fileType}
            </if>
            <if test="fileSize != null">
                and file_size = #{fileSize}
            </if>
            <if test="filePath != null and filePath != ''">
                and file_path = #{filePath}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from file_table
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="fileName != null and fileName != ''">
                and file_name = #{fileName}
            </if>
            <if test="fileType != null and fileType != ''">
                and file_type = #{fileType}
            </if>
            <if test="fileSize != null">
                and file_size = #{fileSize}
            </if>
            <if test="filePath != null and filePath != ''">
                and file_path = #{filePath}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into file_table(file_name, file_type, file_size, file_path, is_deleted)
        values (#{fileName}, #{fileType}, #{fileSize}, #{filePath}, #{isDeleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into file_table(file_name, file_type, file_size, file_path, is_deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.fileName}, #{entity.fileType}, #{entity.fileSize}, #{entity.filePath}, #{entity.isDeleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into file_table(file_name, file_type, file_size, file_path, is_deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.fileName}, #{entity.fileType}, #{entity.fileSize}, #{entity.filePath}, #{entity.isDeleted})
        </foreach>
        on duplicate key update
        file_name = values(file_name),
        file_type = values(file_type),
        file_size = values(file_size),
        file_path = values(file_path),
        is_deleted = values(is_deleted)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update file_table
        <set>
            <if test="fileName != null and fileName != ''">
                file_name = #{fileName},
            </if>
            <if test="fileType != null and fileType != ''">
                file_type = #{fileType},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize},
            </if>
            <if test="filePath != null and filePath != ''">
                file_path = #{filePath},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from file_table
        where id = #{id}
    </delete>

</mapper>

