<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lp.kh.springbootlpkh.mapper.RJobHopMapper">

    <resultMap type="com.lp.kh.springbootlpkh.entity.RJobHop" id="RJobHopMap">
        <result property="idJobHop" column="id_job_hop" jdbcType="VARCHAR"/>
        <result property="idJob" column="id_job" jdbcType="VARCHAR"/>
        <result property="idJobentryCopyFrom" column="id_jobentry_copy_from" jdbcType="VARCHAR"/>
        <result property="idJobentryCopyTo" column="id_jobentry_copy_to" jdbcType="VARCHAR"/>
        <result property="enabled" column="enabled" jdbcType="VARCHAR"/>
        <result property="evaluation" column="evaluation" jdbcType="VARCHAR"/>
        <result property="unconditional" column="unconditional" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="RJobHopMap">
        select id_job_hop,
               id_job,
               id_jobentry_copy_from,
               id_jobentry_copy_to,
               enabled,
               evaluation,
               unconditional
        from r_job_hop
        where id_job_hop = #{idJobHop}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="RJobHopMap">
        select
        id_job_hop, id_job, id_jobentry_copy_from, id_jobentry_copy_to, enabled, evaluation, unconditional
        from r_job_hop
        <where>
            <if test="idJobHop != null and idJobHop != ''">
                and id_job_hop = #{idJobHop}
            </if>
            <if test="idJob != null and idJob != ''">
                and id_job = #{idJob}
            </if>
            <if test="idJobentryCopyFrom != null and idJobentryCopyFrom != ''">
                and id_jobentry_copy_from = #{idJobentryCopyFrom}
            </if>
            <if test="idJobentryCopyTo != null and idJobentryCopyTo != ''">
                and id_jobentry_copy_to = #{idJobentryCopyTo}
            </if>
            <if test="enabled != null and enabled != ''">
                and enabled = #{enabled}
            </if>
            <if test="evaluation != null and evaluation != ''">
                and evaluation = #{evaluation}
            </if>
            <if test="unconditional != null and unconditional != ''">
                and unconditional = #{unconditional}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from r_job_hop
        <where>
            <if test="idJobHop != null and idJobHop != ''">
                and id_job_hop = #{idJobHop}
            </if>
            <if test="idJob != null and idJob != ''">
                and id_job = #{idJob}
            </if>
            <if test="idJobentryCopyFrom != null and idJobentryCopyFrom != ''">
                and id_jobentry_copy_from = #{idJobentryCopyFrom}
            </if>
            <if test="idJobentryCopyTo != null and idJobentryCopyTo != ''">
                and id_jobentry_copy_to = #{idJobentryCopyTo}
            </if>
            <if test="enabled != null and enabled != ''">
                and enabled = #{enabled}
            </if>
            <if test="evaluation != null and evaluation != ''">
                and evaluation = #{evaluation}
            </if>
            <if test="unconditional != null and unconditional != ''">
                and unconditional = #{unconditional}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="idJobHop" useGeneratedKeys="true">
        insert into r_job_hop(,id_job, id_jobentry_copy_from, id_jobentry_copy_to, enabled, evaluation, unconditional)
        values (#{idJob}, #{idJobentryCopyFrom}, #{idJobentryCopyTo}, #{enabled}, #{evaluation}, #{unconditional})
    </insert>

    <insert id="insertBatch" keyProperty="idJobHop" useGeneratedKeys="true">
        insert into r_job_hop(id_job, id_jobentry_copy_from, id_jobentry_copy_to, enabled, evaluation, unconditional)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.idJob}, #{entity.idJobentryCopyFrom}, #{entity.idJobentryCopyTo}, #{entity.enabled},
            #{entity.evaluation}, #{entity.unconditional})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="idJobHop" useGeneratedKeys="true">
        insert into r_job_hop(id_job, id_jobentry_copy_from, id_jobentry_copy_to, enabled, evaluation, unconditional)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.idJob}, #{entity.idJobentryCopyFrom}, #{entity.idJobentryCopyTo}, #{entity.enabled},
            #{entity.evaluation}, #{entity.unconditional})
        </foreach>
        on duplicate key update
        id_job = values(id_job),
        id_jobentry_copy_from = values(id_jobentry_copy_from),
        id_jobentry_copy_to = values(id_jobentry_copy_to),
        enabled = values(enabled),
        evaluation = values(evaluation),
        unconditional = values(unconditional)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update r_job_hop
        <set>
            <if test="idJob != null and idJob != ''">
                id_job = #{idJob},
            </if>
            <if test="idJobentryCopyFrom != null and idJobentryCopyFrom != ''">
                id_jobentry_copy_from = #{idJobentryCopyFrom},
            </if>
            <if test="idJobentryCopyTo != null and idJobentryCopyTo != ''">
                id_jobentry_copy_to = #{idJobentryCopyTo},
            </if>
            <if test="enabled != null and enabled != ''">
                enabled = #{enabled},
            </if>
            <if test="evaluation != null and evaluation != ''">
                evaluation = #{evaluation},
            </if>
            <if test="unconditional != null and unconditional != ''">
                unconditional = #{unconditional},
            </if>
        </set>
        where id_job_hop = #{idJobHop}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from r_job_hop
        where id_job_hop = #{idJobHop}
    </delete>

</mapper>

